body{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
}
/*     Задний фон первого блока и заголовка    */
.bg1{
    z-index: -1;
    background: url("../img/bg1.png") no-repeat;
    background-size: cover;
}
/*     Стили скроллера      */
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: white;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, lightgreen, skyblue);
    border-radius: 10px;
    min-height: 700px;
}
/*
              HEADER
*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
.logo{
    user-select: none;
    transform: scale(.7);
}
.block{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    transition: .3s;
    font-size: 24px;
    text-decoration: none;
    margin: 0 10px;
}
.block:hover{
    font-size: 26px;
    text-decoration: underline;
    color: #aa0719;
    transition: .3s;
}
.one{
    width: 150px;
}
.two{
    width: 250px;
}
.menu-button{
    display: none;
}
/*
              SECTION ONE
*/
.section_one{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 1280px;
}
.p1{
    font-size: 36px;
    margin: 0;
}
.p2{
    font-size: 26px;
    margin: 0 0 30px 0;
}
.p3{
    font-size: 36px;
    margin: 10px 0 40px 0;
    user-select: none;
}
.videoimg{
    user-select: none;
    transition: .5s;
}
.video:hover img{
    transform: scale(1.025);
    transition: .3s;
}
.video:hover p{
    color: #aa0719;
    text-decoration: underline;
}
/*
              SECTION TWO
*/
.section_two{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
}
.p4{
    font-size: 36px;
    margin: 30px 0;
    user-select: none;
}
.news{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
    max-height: 880px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0 50px 0;
}
.settings{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
}
.news_img{
    max-width: 720px;
    border-radius: 20px;
    user-select: none;
}
.news p{
    font-size: 26px;
    margin: 0 10px;
}
.hr1{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: black;
    margin: 0 50px;
    border: none;
}
/*     Стили скроллера      */
.news::-webkit-scrollbar{
    width: 10px;
}
.news::-webkit-scrollbar-track{
     background: white;
     border: 1px solid black;
     border-radius: 10px;
 }
.news::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
/*
              SECTION THREE
*/
.section_three{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
}
.p5{
    font-size: 50px;
    margin: 30px 0;
    user-select: none;
}
.bg_white{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1280px;
    height: 880px;
    margin: 0 0 50px 0;
    background: linear-gradient(to right, lightgreen, skyblue);
    border-radius: 50px;
    padding: 30px 0;
}
.bg_white p{
    font-size: 26px;
    margin: 0 10px;
}
.scroll{
    max-width: 1230px;
    max-height: 880px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll::-webkit-scrollbar{
    width: 10px;
}
.scroll::-webkit-scrollbar-track{
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
/*
              SECTION FOUR
*/
.section_four{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
}
.history{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 50px 0;
}
.history_VDV{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 100px;
    background: linear-gradient(to right, lightgreen, skyblue);
    border-radius: 50px;
    user-select: none;
}
.history_VDV1{
    display: none;
    border-radius: 50px;
    margin: 20px 50px 50px 50px;
}
.active-VDV{
    display: block;
}
.p6{
    color: black;
    font-size: 26px;
    transition: .5s;
}
.p7{
    color: black;
    font-size: 26px;
}
.history_VDV:hover p{
    transition: .5s;
    text-decoration: underline;
    color: #aa0719;
    font-size: 28px;
}
.history_VDV1 li{
    color: black;
    font-size: 26px;
}

/*
              SECTION FIVE
*/
.section_five{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    border-radius: 30px;
    width: 1280px;
    background: linear-gradient(to bottom, lightgreen, skyblue);
    overflow: hidden;
    padding: 10px 0 0 0;
}
.p8{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 0 50px 0 50px;
    font-size: 30px;
}
.photo{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white;
    width: 1200px;
    height: 700px;
    padding: 10px 10px;
    border-radius: 20px 10px 10px 20px;
    flex-wrap: wrap;
    margin: 10px 0;
}
.PH img{
    max-width: 360px;
    max-height: 280px;
    border-radius: 50px;
}
.PH{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 280px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.PH p{
    margin: 0 20px;
    font-size: 20px;
    user-select: none;
    text-decoration: none;
    transition: .3s;
}
.PH:hover p{
    color: #aa0719;
    text-decoration: underline;
    font-size: 22px;
    transition: .3s;
}
.photo::-webkit-scrollbar{
    width: 15px;
}
.photo::-webkit-scrollbar-track{
    background: white;
    border: none;
    border-radius: 0 10px 10px 0;
}
.photo::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, lightgreen, skyblue);
    width: 15px;
    border-radius: 10px;
}
.videoG{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white;
    width: 1200px;
    height: 700px;
    padding: 10px 10px;
    border-radius: 20px 10px 10px 20px;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
}
.VC{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 280px;
    flex-wrap: wrap;
}
.VC p{
    margin: 0 20px;
    font-size: 20px;
    user-select: none;
    text-decoration: none;
    transition: .3s;
}
.VC:hover p{
    color: #aa0719;
    text-decoration: underline;
    font-size: 22px;
    transition: .3s;
}
.videoGV{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    margin-right: 20px;
    width: 360px;
}
.videoG::-webkit-scrollbar{
    width: 15px;
}
.videoG::-webkit-scrollbar-track{
    background: white;
    border: none;
    border-radius: 0 10px 10px 0;
}
.videoG::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, lightgreen, skyblue);
    width: 15px;
    border-radius: 10px;
}
/*
              SECTION SIX
*/
.section_six{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, lightgreen, skyblue);
    margin: 50px 0;
    width: 1140px;
    height: 600px;
    padding: 20px;
}
.maps{
    width: 100%;
    height: 100%;
}
.address{
    display: flex;
    justify-content: center;
}
.address a{
    display: flex;
    align-items: center;
    font-size: 40px;
    max-width: 800px;
    height: 160px;
    margin: 0 0 50px 0;
    transition: .3s;
    text-decoration: none;
    color: black;
}
.address a:hover{
    color: #aa0719;
    transition: .3s;
    font-size: 42px;
    text-decoration: underline;
}
/*
              FOOTER
*/
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    opacity: .8;
    margin: 30px 0;
    padding: 10px;
    border-radius: 40px;
}
.Zgl{
    display: flex;
    align-items: center;
    height: 50px;
    user-select: none;
    font-size: 30px;
}
.zd2{
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    font-size: 24px;
}
.zd2 p{
    color: black;
    width: 100%;
    height: 40px;
    margin: 0;
}
.bg2{
    z-index: 0;
    background: url("../img/bg2.png") no-repeat;
    background-size: cover;
}
/*
              АДАПТАЦИЯ
*/
@media (max-width: 1280px) {
    .container{
        max-width: 1140px;
    }
    .photo{
        margin: 10px 20px;
    }
    .videoG{
        margin: 10px 20px 20px 20px;
    }
    .section_three{
        max-width: 100%;
    }
    .bg_white{
        margin: 0 0 50px 0;
        padding: 30px 20px 30px 0;
    }
    .news{
        max-width: 100%;
        margin: 0 0 50px 0;
    }
    .news .settings{
        max-width: 100%;
    }
    .section_six{
        max-width: 100%;
    }
}
@media (max-width: 1140px) {
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 1000px) {
    .container{
        max-width: 900px;
    }
}
@media (max-width: 900px) {
    .container{
        max-width: 800px;
    }
    .menu-button{
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        border: none;
        cursor: pointer;
    }
    .menu-button:before{
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        margin-top: -7px;
    }
    .menu-button:after{
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        margin-top: 7px;
    }
    .menu-button-active{
        height: 0;
    }
    .menu-button-active:before{
        transform: rotate(45deg);
        margin-top: 0;
    }
    .menu-button-active:after{
        transform: rotate(-45deg);
        margin-top: 0;
    }
    .header{
        display: none;
        justify-content: flex-start;
        height: 350px;
        width: 350px;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 50px;
        background: linear-gradient(to bottom, lightgreen, skyblue);
    }
    .header-active{
        display: flex;
    }
    .block{
        color: #FFFFFF;
        font-size: 20px;
        text-shadow: 0 0 1px #19ee9a;
        height: 30px;
        margin: 12px 0;
    }
    .block:hover{
        font-size: 22px;
        text-decoration: underline;
        color: #aa0719;
        transition: .3s;
    }
    .knp-fon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 40px;
        top: 40px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(to top, lightgreen, skyblue);
        border: 1px solid white;
    }
    .knp-fon:hover .menu-button{
        background: #aa0719;
    }
    .knp-fon:hover .menu-button:before{
        background: #aa0719;
    }
    .knp-fon:hover .menu-button:after{
        background: #aa0719;
    }
    .knp-fon:hover{
        border: 1px solid #aa0719;
    }
    .logo{
        transform: scale(.5);
    }
    .section_one{
        margin-top: 45px;
    }
}
@media (max-width: 800px) {
    .container{
        max-width: 700px;
    }
    .bg_white{
        width: 100%;
    }
    .section_two{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .container{
        max-width: 600px;
    }
    .section_one{
        margin-top: 90px;
    }
    .p7{
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 90%;
    }
    .video{
        max-width: 90%;
    }
    .video img{
        max-width: 90%;
    }
    .Zgl p{
        font-size: 22px;
    }
    .zd2 p{
        font-size: 18px;
        height: 60px;
    }
    .settings p{
        font-size: 22px;
    }
    .address a{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .PH{
        align-content: flex-start;
        justify-items: center;
        max-width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
    .PH img{
        max-width: 90%;
    }
    .VC{
        align-content: flex-start;
        justify-items: center;
        max-width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
    .videoGV{
        width: 90%;
    }
    .p5{
        font-size: 30px;
    }
    .address a{
        font-size: 26px;
    }
    .p6{
        font-size: 22px;
        margin: 10px;
    }
    .history_VDV{
        width: 260px;
        height: 60px;
    }
    .history_VDV1{
        width: 100%;
    }
    .history_VDV:hover p{
        font-size: 22px;
    }
    .history_VDV1 li{
        font-size: 20px;
    }
    .p7{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .header{
        max-width: 250px;
    }
    .p7{
        font-size: 18px;
    }
    .history_VDV1 li{
        font-size: 18px;
    }
}